@page "/"

<PageTitle>Taxi</PageTitle>

<body>
    <header>

    </header>
    <div class="content-column">
        <div class="content-left">
            left side - taxi drive calculation
        </div>
        <div class="content-right">
            right side - google maps api
            Two text entry boxes, origin and destination + button to confirm
        </div>
    </div>
</body>

@code {



}