@page "/"

<PageTitle>Taxi</PageTitle>

<body>
    <div class="layout1-content">
        <div class="layout1-left-content">
            left side - taxi drive calculation
        </div>
        <div class="layout1-right-content">
           right side - google maps api
        </div>
    </div>
</body>

@code {



}