@page "/"

<PageTitle>Taxi</PageTitle>

<body>
    <header>

    </header>
    <div class="box"> large box
        <div class="grid-container"> split box
            <div class="grid-item"> left - calculations
                <div class="grid-container">
                    <div class="grid-item"></div> left box
                    <div class="grid-item"></div> right box
                    <div class="grid-item"></div> left box
                    <div class="grid-item"></div> right box
                    <div class="grid-item"></div> left box
                    <div class="grid-item"></div> right box
                </div>
            </div>
            <div class="grid-item"> right - google map
                <div class="grid-item"></div> left - route
                <div class="grid-item"></div> right - map
            </div>
        </div>
    </div>

</body>

@code {



}