* {

}

.box {
    width: 80%;
    height: 80%;
    border: 5px solid;
    padding: 25px;
    margin: 10px;
}            

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    padding: 20px;
    width: fit-content;
}

h1 {
    color: rgb(0, 0, 0)
}